
p.meter .valueRep {
    display: block;
    height: 23px;
    position: absolute;
    top: 0;
    width: 25px;
}
p.meter, p.meter .valueRep {
    background-image: url("http://vip.mlstatic.com/css/assets/termometro__v304cb972025.png");
    background-repeat: no-repeat;
}
p.meter .valueRep {
    display: block;
    height: 23px;
    position: absolute;
    top: 0;
    width: 25px;
}
p.meter, p.meter .valueRep {
    background-image: url("http://vip.mlstatic.com/css/assets/termometro__v304cb972025.png");
    background-repeat: no-repeat;
}


p.rep0 {
	background-position:center 9px;
}

p.rep0 span {
	display:none!important;
}

p.rep1 span {
	background-position:-10px -39px;
	left:10px;
}

p.rep2 span {
	background-position:-34px -39px;
	left:34px;
}

p.rep3 span {
	background-position:-58px -39px;
	left:58px;
}

p.rep4 span {
	background-position:-82px -39px;
	left:82px;
}

p.rep5 span {
	background-position:-106px -39px;
	left:106px;
}

p.meter {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    text-indent: -9999px;
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
    font-size: 13px;
    line-height: 20px;
}
element.style {
    cursor: pointer;
}

